<nav>
    <ul class="float-left">
        <li>
            <a href="#!/status" ng-class="{'active': $route.current.active == 'status'}">status</a>
        </li>
        <li>
            <a href="#!/users" ng-class="{'active': $route.current.active == 'users'}">users</a>
        </li>
    </ul>
    
    <ul class="float-right">
        <li ng-controller="LogoutController">
            <a ng-click="logout()">logout</a>
        </li>
    </ul>
    <div class="clearfix"></div>
</nav>

<footer>
    <p class="float-left">&copy; 2019 giulio bosco</p>
    <p class="float-right">
        <a href="http://github.com/giuliobosco/freqline">GitHub</a>
    </p>
</footer>