body {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    min-height: 100%;
    height: 100%;
}

.hide {
    display: none;
}

.full-size {
    position: absolute;
    width: 100%;
    min-height: 100%;
    height: 100%;
}

.w33 {

    padding: 0px 1px;
    float: left;
    width: 33%;
}

.c {
    background-color: blue;
}

.user-input-wrp {
    margin-top: 15px;
    position: relative;
    width: 100%;
}

.user-input-wrp .inputText {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #777;
    padding-left: 10px;
}

.user-input-wrp .inputText:invalid {
    box-shadow: none !important;
}

.user-input-wrp .inputText:focus {
    border-color: blue;
    border-width: medium medium 2px;
}

.user-input-wrp .floating-label {
    position: absolute;
    pointer-events: none;
    top: 18px;
    left: 10px;
    transition: 0.2s ease all;
}

.user-input-wrp input:focus ~ .floating-label,
.user-input-wrp input:not(:focus):valid ~ .floating-label,
.floating-label-top {
    top: 0px;
    left: 10px;
    font-size: 13px;
    opacity: 1;
}

/* select starting stylings ------------------------------
- from: https://codepen.io/pavelvaravko/pen/qjojOr/
*/
.select {
    font-family:
    'Roboto','Helvetica','Arial',sans-serif;
    position: relative;
    width: 100%;
}

.select-text {
    position: relative;
    font-family: inherit;
    background-color: transparent;
    width: 100%;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #000000;
}

/* Remove focus */
.select-text:focus {
    outline: none;
    border-bottom: 1px solid rgba(0,0,0, 0);
}

/* Use custom arrow */
.select .select-text {
    appearance: none;
    -webkit-appearance:none
}

.select:after {
    position: absolute;
    top: 18px;
    right: 10px;
    /* Styling the down arrow */
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #000000;
    pointer-events: none;
}


/* LABEL ======================================= */
.select-label {
    padding-left: 10px;
    color: #000000;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 10px;
    transition: 0.2s ease all;
}

/* active state */
.select-text:focus ~ .select-label, .select-text:valid ~ .select-label {
    color: #000000;
    top: -20px;
    transition: 0.2s ease all;
    font-size: 14px;
}

/* BOTTOM BARS ================================= */
.select-bar {
    position: relative;
    display: block;
    width: 100%;
}

.select-bar:before, .select-bar:after {
    content: '';
    height: 1px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #2F80ED;
    transition: 0.2s ease all;
}

.select-bar:before {
    left: 50%;
}

.select-bar:after {
    right: 50%;
}

/* active state */
.select-text:focus ~ .select-bar:before, .select-text:focus ~ .select-bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.select-highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}


input[type=button], input[type=submit] {
    border: 0;
    background: #0090c2;
    color: #eee;
    padding: 8px;
    width: 100%;
}

nav {
    z-index: 99;
    background-color: #0090c2;
    position: fixed;
    width: 100%;
}

nav ul {
    padding: 10px;
    margin: 0;
}

nav ul li {
    display: inline;
    padding: 0 10px;
}

nav ul li a, nav ul li a:link, nav ul li a:active, nav ul li a:visited, nav ul li a:hover {
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #bbb;
}

footer {
    z-index: 99;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #0090c2;
    color: white;
    padding: 10px 20px;
}

footer p {
    margin: 0;
}

footer a {
    color: white;
}

footer a:hover {
    color: #bbb; 
    text-decoration: none;
}

ul.list {
    padding: 44px 0;
    margin: 0;
    list-style-type: none;
}

ul.list li {
    padding: 0;
    list-style-type: none;
}

ul.list li div.item-cont {
    padding: 10px 20px;
}

ul.list li:nth-child(even) {
    background-color: #efefef;
}

ul.list li a, ul.list li a:link, ul.list li a:active, ul.list li a:visited, ul.list li a:hover {
    color: #000000;
    text-decoration: none;
}

ul.list li a:hover {
    color: #bbb;
}

.cont-v {
    padding: 44px 0;
}

.cont-h {
    padding: 0 20px;
}