<div ng-controller="LoginController" class="full-size">
  <form novalidate class="css-form">
    <h3>Freqline</h3>
    <p>Gestore di generatore di frequenze</p>
    <p>&nbsp;</p>
    <div class="user-input-wrp">
      <br/>
      <input type="text" class="inputText" ng-model="login.username" required>
      <span class="floating-label">username</span>
    </div>
    <div class="user-input-wrp">
      <br/>
      <input type="password" class="inputText" ng-model="login.password" required>
      <span class="floating-label">password</span>
    </div>
    <label style="color:red; padding: 10px 10px 0 10px">{{message}}</label><br>
    <input type="submit" ng-click="login(login)" value="Login" />
    <p style="padding: 15px 10px;">&copy; 2019 Giulio Bosco</p>
  </form>
</div>

<style type="text/css">
  
  .css-form {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0, -50%);
  }

  @media screen and (min-width: 720px){
    .css-form {
      left: 20%;
    }
  }
  
  .css-form input.ng-invalid.ng-touched {
    border-bottom-color: #FA787E;
  }
</style>