{{status}}<br>
{{frequence}}<br>
{{timer}}<br>

<form novalidate>
    <p><small>status</small><input type="text" ng-model="status"></p></p>
    <input type="button" ng-click="setStatus(status)">
</form>

<form novalidate>
    <p><small>frequence</small><input type="text" ng-model="frequence"></p>
    <input type="button" ng-click="setFrequence(frequence)">
</form>

<form novalidate>
    <p><small>timer</small><input type="text" ng-model="timer"></p>
    <input type="button" ng-click="setTimer(timer)">
</form>