<div ng-include="'views/nav.html'"></div>
<div class="cont-v status">
    
    <h4 class="text-center pt30">Frequence Generator</h4>
    <div class="pt30"></div>
    
    <div class="light checkBoxSlider">
        <label class="switch">
            <input type="checkbox" ng-checked="status" ng-click="toggleStatus()">
            <span class="slider round"></span>
        </label>
    </div>
    
    <div class="pt30"></div>
    
    <div class="float-left center">
        <p>frequence</p>
        <input type="number" ng-model="s.frequence"><span class="measure-unit">MHz</span>
    </div>
    
    <div class="clearfix"></div>
    <div class="pt30"></div>
    <div class="pt30"></div>
    
    <div class="float-left center">
        <p>timer for mic</p>
        <input type="number" ng-model="s.timer"><span class="measure-unit">s</span>
    </div>
    
    <div class="clearfix"></div>
    <div class="pt30"></div>
    <div class="pt30"></div>
    
    <div class="float-left center">
        <p>decibel for mic</p>
        <input type="number" ng-model="s.decibel"><div class="measure-unit">db</div>
    </div>
    
    <div class="clearfix"></div>
    <div class="pt30"></div>
    <div class="pt30"></div>
    <div class="save-btn center">
        <input type="button" ng-click="save()" value="save">
    </div>
    <div class="clearfix"></div>
    <div class="pt30"></div>
    <div class="pt30"></div>
    <!--
        {{status}}<br>
        {{frequence}}<br>
        {{timer}}<br>
        {{decibel}}<br>
        
        <form novalidate>
            <p><small>status</small><input type="text" ng-model="status"></p></p>
            <input type="button" ng-click="setStatus(status)">
        </form>
        
        <form novalidate>
            <p><small>frequence</small><input type="text" ng-model="frequence"></p>
            <input type="button" ng-click="setFrequence(frequence)">
        </form>
        
        <form novalidate>
            <p><small>timer</small><input type="text" ng-model="timer"></p>
            <input type="button" ng-click="setTimer(timer)">
        </form>-->
    </div>